build/
build_*/
*.vst3
*.component
*.app
*.a
*.o
*.so
*.dylib
.DS_Store
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
_CPack_Packages/
CPack*.cmake
nine_artefacts/
JUCE/
__pycache__/
*.pyc
analysis/
